<% content_for :tournament do -%>
    <%= stylesheet_link_tag 'schedule' %>
    <%= javascript_include_tag 'viewmodels/tournament_view_model' %>
<% end -%>

<h1>Tournament Schedule / Results</h1>
<hr/>

<div id='tournaments-index'>
  <div class='season-choose'>
    <label class='float-left'>Season:</label>
    <select class='season-select' data-bind='value: currentSeason'>
      <% years.each_with_index do |year, index| %>
          <option <% if index == 0 %> selected='true' <% end %>><%= year %></option>
      <% end %>
    </select>
  </div>

  <%= form_tag( :tournament_season_path,
                :id => 'index-form',
                :method => :get,
                :remote => true) do %>
      <%= hidden_field_tag 'index' %>
  <% end %>

  <div id='tourney-display' style='padding-bottom: 1px;'>
    <%= render 'tournaments/partials/seasonTourneys' %>
  </div>
</div>
