<% content_for :tournament do %>
    <%= stylesheet_link_tag 'new_tournament' %>
    <%= stylesheet_link_tag 'dialogs' %>
    <%= stylesheet_link_tag 'edit-dialogs' %>
    <%= javascript_include_tag 'tournaments' %>
    <%= javascript_include_tag 'dialogs' %>
    <%= javascript_include_tag 'viewmodels/tournament_view_model' %>
<% end %>

<%= form_for @tournament, url: '/tournaments/new', remote: true,
    :html => { :id => 'new-tournament-form', 
               :class => '' } do |f| %> 

<h1>New Tournament</h1>
<hr/>
<div>
    <div class='left-edit-column'>
        <div class='edit-section'>
            <%= f.label :name, 'Name:', :for => 'name', :class => '' %>
            <%= f.text_field :name, :id => 'name', :class => 'form-control' %>
        </div>
        <div class='edit-section'>
            <%= f.label :format, 'Format:', :for => 'format-select', :class => '' %>
            <%= f.select :format, options_for_select(formats, 'Standard'), {}, { :id => 'format-select', :class => 'form-control' } %>
        </div>
        <div class='edit-section'>
            <%= f.label :cash_ratio_value, 'Cash Ratio 1 in:', :for => 'cash_ratio_select', :class => '' %>
            <%= f.select :cash_ratio_value, options_for_select(ratio_values, 4), {}, { :id => 'cash-ratio-select', :class => 'form-control' } %>
            <%= f.label :is_major, 'Is Major:', :for => 'is-major-checkbox', :id => 'is-major-label', :class => '' %>
            <%= f.check_box :is_major, :id => 'is-major', :checked => false, :id => 'is-major-checkbox', :class => 'checkbox form-control' %>
        </div>
    </div>
   
    <div class='right-edit-column'>
        <div class='edit-section'>
            <%= f.label :date, 'Date:', :for => 'date', :class => '' %>
            <%= f.hidden_field :date %>
            <div class='input-group date' id='date-picker'>
                <input type='text' class='form-control'>
                <span class='input-group-addon'><i class='glyphicon glyphicon-th'></i></span>
            </div>
        </div>
        <div class='edit-section'>
            <%= f.label :bowling_center_id, 'Bowling Center:', :for => 'bowling_center', :class => '' %>
            <%= f.select :bowling_center_id, options_from_collection_for_select(@centers, 'id', 'name'), {}, { :id => 'bowling-center', :class => 'form-control', 'data-bind' => 'value: selectedBowlingCenterId' } %>
            
            <div class='edit-btn-grp btn-group'>
                <a class='btn btn-default' data-toggle='modal' data-target='#update-center-modal'><span class='glyphicon glyphicon-pencil'></span></a>
                <a class='btn btn-default' data-toggle='modal' data-target='#add-center-modal'><span class='glyphicon glyphicon-plus'></span></a>
            </div>
        </div>
        <div class='edit-section'>
            <%= f.label :oil_pattern_id, 'Oil Pattern:', :for => 'oil_pattern', :class => '' %>
            <%= f.select :oil_pattern_id, options_from_collection_for_select(@patterns, 'id', 'name'), {}, { :id => 'oil-pattern-select', :class => 'form-control', 'data-bind' => 'value: selectedOilPatternId' } %>
            <div class='edit-btn-grp btn-group'>
                <a class='btn btn-default' data-toggle='modal' data-target='#update-pattern-modal'><span class='glyphicon glyphicon-pencil'></span></a>
                <a class='btn btn-default' data-toggle='modal' data-target='#add-pattern-modal'><span class='glyphicon glyphicon-plus'></span></a>
            </div>
        </div>
    </div>
    
    <hr class='bottom-bar'/>
    <div id='tourney-messages' class='tourney-messages'>
	    <p id='saved-msg' class='hidden'>
	        <span data-bind='text: currentTourneyName'></span> has been created.
	    </p>
	    <p id='exists-msg' class='hidden'>
	        <span data-bind='text: currentTourneyName'></span> already exists.
	    </p>
	    <p id='failed-msg' class='hidden'>
	        Tournament creation failed. <span data-bind='text: errorMsg'></span>
	    </p>
	</div>
    <%= f.submit 'Create', :id => 'create-button', :class => 'btn btn-primary btn-large right-action-btn' %>
    <div class='clear-both'>
    </div>
</div>
<% end %>


<div id='add-center-modal' class='dialog modal fade'>
    <%= render 'bowling_centers/partials/new' %>
</div>
<div id='update-center-modal' class='dialog modal fade'>
    <%= render 'bowling_centers/partials/update' %>
</div>

<div id='add-pattern-modal' class='dialog modal fade'>
    <%= render 'oil_patterns/partials/new' %>
</div>
<div id='update-pattern-modal' class='dialog modal fade'>
    <%= render 'oil_patterns/partials/update' %>
</div>

<script>initializeTourneyDatePicker();</script>
