<table class='game-data'>
  <tr>
    <td class="cut-hidden"></td>
    <td class="position-header">Pos.</td>
    <td class="bowler-header">Bowler</td>
    <td class="games-6-header" colspan=6>Games</td>
    <td class="total-pins-header">Total Pins</td>
    <td class="plus-minus-header">+/-</td>
    <td class="avg-header">Avg.</td>
    <td class="points-header">Points</td>
  </tr>

  <% @tourney.entries.sort { |a, b| b.total_qual_pinfall <=> a.total_qual_pinfall }.each_with_index do |entry, index| %>
      <tr>
        <td class="<%= if entry.is_qual_cut then 'cut cut-left' else 'cut-hidden' end %>"><%= if entry.is_qual_cut then 'CUT' elsif entry.is_high_senior then 'SENIOR' elsif entry.is_high_woman then 'WOMAN' else '' end %></td>
        <td class="<%= if entry.is_qual_cut then 'cut' end %>
                   <%= if entry.is_high_woman || entry.is_high_senior then 'highlight ' end %>"><%= index + 1 %></td>
        <td class="<%= if entry.is_qual_cut then 'cut' end %>
                   <%= if entry.is_high_woman || entry.is_high_senior then 'highlight ' end %>">
          <a href="<%= entry.bowler.profile_url %>"><%= entry.bowler.full_name %></a>
        </td>
        <td class="<%= if entry.is_qual_cut then 'cut' end %>
                   <%= if entry.is_high_woman || entry.is_high_senior then 'highlight ' end %>"><%= entry.get_q_score(1) %></td>
        <td class="<%= if entry.is_qual_cut then 'cut' end %>
                   <%= if entry.is_high_woman || entry.is_high_senior then 'highlight ' end %>"><%= entry.get_q_score(2) %></td>
        <td class="<%= if entry.is_qual_cut then 'cut' end %>
                   <%= if entry.is_high_woman || entry.is_high_senior then 'highlight ' end %>"><%= entry.get_q_score(3) %></td>
        <td class="<%= if entry.is_qual_cut then 'cut' end %>
                   <%= if entry.is_high_woman || entry.is_high_senior then 'highlight ' end %>"><%= entry.get_q_score(4) %></td>
        <td class="<%= if entry.is_qual_cut then 'cut' end %>
                   <%= if entry.is_high_woman || entry.is_high_senior then 'highlight ' end %>"><%= entry.get_q_score(5) %></td>
        <td class="<%= if entry.is_qual_cut then 'cut' end %>
                   <%= if entry.is_high_woman || entry.is_high_senior then 'highlight ' end %>"><%= entry.get_q_score(6) %></td>
        <td class="<%= if entry.is_qual_cut then 'cut' end %>
                   <%= if entry.is_high_woman || entry.is_high_senior then 'highlight ' end %>"><%= entry.total_qual_pinfall %></td>
        <td class="<%= if entry.is_qual_cut then 'cut' end %>
                   <%= if entry.is_high_woman || entry.is_high_senior then 'highlight ' end %>"><%= entry.qual_plus_minus %></td>
        <td class="<%= if entry.is_qual_cut then 'cut' end %>
                   <%= if entry.is_high_woman || entry.is_high_senior then 'highlight ' end %>"><%= number_with_precision(entry.calc_qual_avg, :precision => 2) %></td>
        <td class="<%= if entry.is_qual_cut then 'cut' end %>
                   <%= if entry.is_high_woman || entry.is_high_senior then 'highlight ' end %>"></td>
      </tr>
  <% end %>
</table>