<div id='new-oil-pattern-dialog' class='modal-dialog'>
    <div class='modal-content'>
    <%= form_for @tourney_oil_pattern, url: '/oil_patterns/new', remote: true,
             :html => { :id => 'new-oil-pattern-form',
                        :class => 'csbt-dialog' }  do |f| %>
        <div class='modal-header'>
            <h2>New Oil Pattern</h2>
        </div>
        
        <div class='modal-body'>
            <div class='edit-section'>
              <%= f.label :name, 'Name:', :for => 'name', :id => 'name-label', :class => '' %>
              <%= f.text_field :name, :id => 'name', :class => 'form-control' %>
            </div>
            <div class='edit-section'>
              <%= f.label :url, 'URL:', :for => 'url', :id => 'url-label', :class => '' %>
              <%= f.text_field :url, :id => 'url', :class => 'form-control' %>
            </div>
        </div>
        
        <div class='modal-footer'>
            <div class='buttons float-right'>
              <button id='btn btn-default' class='btn' data-dismiss='modal' aria-hidden='true' onclick='dialogClose()'>Close</button>
              <%= f.submit 'Create', :id => 'update-button', :class => 'btn btn-primary' %>
            </div>
        </div>
        <% end %>
    
        <div id='update-messages'>
            <p id='saved-msg' class='hidden'><span id='pattern-name'></span> - has been created.</p>
            <p id='failed-msg' class='hidden'><span id='pattern-name'></span> - failed to be created.</p>
        </div>
    </div>
</div>